@import 'mixin';
@import 'var';

.left-app-buttons {
    display:flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    margin: 10px;
    padding: 10px 5px;
    border-radius: 30px;
    border-width: 2px;

    .app-button-1 {
        @include app-button;
        background-color: $appbuttonselected;
    }
    .app-button-2 {
        @include app-button;
        background-color: $appbuttonunselected;
    }
    .app-button-3 {
        @include app-button;
        background-color: $appbuttonunselected;
    }
    .app-button-4 {
        @include app-button;
        background-color: $appbuttonunselected;
    }
    .app-button-5 {
        @include app-button;
        background-color: $appbuttonunselected;
    }
}

