@import 'mixin';
@import 'var';

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    .Lheader {
        display:flex;
        align-items: center;
        .arrows {
            display:flex;
            margin-right: 30px;
            .Larrows {
                margin-right:5px;
            }
            .Larrows:hover {
                border-color: white;
                border-width: 2px;
                border-style: solid;
                border-radius: 25px;
            }
            .Rarrows {
                margin-left:5px;
            }
            .Rarrows:hover {
                border-color: white;
                border-width: 2px;
                border-style: solid;
                border-radius: 25px;
            }
        }
        .searchbar {
            display:flex;
            background-color:black;
            border-radius: 25px;
            padding: 8px;
            width: 350px;
    
            .mic-icon {
                margin-right: 10px;
            }
            .search {
                background-color:black;
                border:none;
    
            }
        }
        .searchbar:hover {
            border-color: white;
            border-width: 2px;
            border-style: solid;
            border-radius: 25px;
        }
    }
    .Rheader {
        display:flex;
        align-items: center;
        .notification-icon {
            background-color:black;
            border-radius: 25px;
            padding: 10px;
            margin-right: 20px;
        }
        .notification-icon:hover {
            border-color: white;
            border-width: 2px;
            border-style: solid;
            border-radius: 25px;
        }
        .account {
            display:flex;
            background-color:black;
            padding: 10px;
            border-radius: 25px;
            .avatar {
                background-color:blue;
                width: 40px;
                height: 40px;
                border-radius: 25px;
                margin-right: 10px;
                border-color: white;
                border-width: 2px;
            }
            .text {
                .username {
                    color:white;
                    font-size: 18px;
                }
                .email {
                    color:white;
                    margin-top:-5px;
                    font-size: 14px;
                }
            }

        }
        .account:hover {
            border-color: white;
            border-width: 2px;
            border-style: solid;
            border-radius: 25px;
        }
    }
}