@import 'mixin';
@import 'var';

.Sidebar {
    border-width: 2px;
    border-style:outset;
    border-color: gray;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding:20px;
    .logoimg {
        width: 200px;
        height: 150px;
    }
    .sidebuttons {
        .browsebutton, .wishlistbutton, .comingsoonbutton {
            display: flex;
            margin: 25px 5px;
            color:white;
            p {
                padding-left: 10px;
            }
        }
    }
    .trailers {
        font-size: 24px;
        font-weight:500;
        color:white;
    }
    .new-cars {
        margin-top: 0px 20px;
        img {
            width: 250px;
            height: 150px;
            border-radius: 15px;
            z-index: 0;
            
        }
        .sidepanel1, .sidepanel2, .sidepanel3 {
            margin: 15px 0px;
            border-radius: 15px;
            position: relative;
            
            .panelfooter {
                position: absolute; 
                bottom: 0; 
                left: 0; 
                width: 100%; 
                background-color: rgba(0, 0, 0, 0.8); 
                color: white;
                padding: 5px;
                box-sizing: border-box;
                display:flex;
                justify-content: space-between;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    }
    
}