@use 'header';
@use 'dashboard';
@use 'buttons';
@use 'body';
@use 'mixin';
@use 'var';

body {
    margin: 0;
    overflow: hidden;
    header {
        .backgroundimg {
            height:100%;
            width: 100%;
        }
    } 
}
