.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.header .Lheader {
  display: flex;
  align-items: center;
}
.header .Lheader .arrows {
  display: flex;
  margin-right: 30px;
}
.header .Lheader .arrows .Larrows {
  margin-right: 5px;
}
.header .Lheader .arrows .Larrows:hover {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
}
.header .Lheader .arrows .Rarrows {
  margin-left: 5px;
}
.header .Lheader .arrows .Rarrows:hover {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
}
.header .Lheader .searchbar {
  display: flex;
  background-color: black;
  border-radius: 25px;
  padding: 8px;
  width: 350px;
}
.header .Lheader .searchbar .mic-icon {
  margin-right: 10px;
}
.header .Lheader .searchbar .search {
  background-color: black;
  border: none;
}
.header .Lheader .searchbar:hover {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
}
.header .Rheader {
  display: flex;
  align-items: center;
}
.header .Rheader .notification-icon {
  background-color: black;
  border-radius: 25px;
  padding: 10px;
  margin-right: 20px;
}
.header .Rheader .notification-icon:hover {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
}
.header .Rheader .account {
  display: flex;
  background-color: black;
  padding: 10px;
  border-radius: 25px;
}
.header .Rheader .account .avatar {
  background-color: blue;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-right: 10px;
  border-color: white;
  border-width: 2px;
}
.header .Rheader .account .text .username {
  color: white;
  font-size: 18px;
}
.header .Rheader .account .text .email {
  color: white;
  margin-top: -5px;
  font-size: 14px;
}
.header .Rheader .account:hover {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
}

/**
@include xs {

}
@include sm {

}
@include md {

}
@include lg {

}
@include xl {

}
**/
.left-app-buttons {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 10px;
  padding: 10px 5px;
  border-radius: 30px;
  border-width: 2px;
  z-index: -1;
}
@media (max-width: 1199px) {
  .left-app-buttons {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border-width: 0px;
    z-index: -2;
  }
}
.left-app-buttons .app-button-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px 0px;
  background-color: red;
}
.left-app-buttons .app-button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px 0px;
  background-color: gray;
}
.left-app-buttons .app-button-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px 0px;
  background-color: gray;
}
.left-app-buttons .app-button-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px 0px;
  background-color: gray;
}
.left-app-buttons .app-button-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px 0px;
  background-color: gray;
}

/**
@include xs {

}
@include sm {

}
@include md {

}
@include lg {

}
@include xl {

}
**/
.main-banner {
  position: relative;
  margin: 20px;
  border-radius: 25px;
}
.main-banner .banner1img {
  width: 1300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 70%;
     object-position: 0% 70%;
}
.main-banner .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}
.main-banner .banner-content .bannerlogo {
  font-size: 64px;
  font-weight: 600;
}
.main-banner .banner-content .bannerlogo .banner-desc {
  font-size: 20px;
  font-weight: 400;
  color: rgb(167, 167, 167);
}
.main-banner .banner-content .bannerfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-banner .banner-content .bannerfooter .banner-left .shopping {
  display: flex;
}
.main-banner .banner-content .bannerfooter .banner-left .shopping .watchbutton {
  background-color: red;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 15px;
}
.main-banner .banner-content .bannerfooter .banner-left .shopping .watchbutton:hover {
  border-color: red;
  border-width: 2px;
  border-style: solid;
}
.main-banner .banner-content .bannerfooter .banner-left .shopping .addmore {
  background-color: rgb(167, 167, 167);
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
}
.main-banner .banner-content .bannerfooter .banner-left .shopping .addmore:hover {
  border-color: white;
  border-width: 2px;
  border-style: solid;
}
.main-banner .banner-content .bannerfooter .banner-right {
  display: flex;
}
.main-banner .banner-content .bannerfooter .banner-right .right-icon-1 .right1img,
.main-banner .banner-content .bannerfooter .banner-right .right-icon-2 .right1img,
.main-banner .banner-content .bannerfooter .banner-right .right-icon-3 .right1img {
  width: 150px;
  height: 90px;
  margin-right: 20px;
  border-radius: 15px;
}
.main-banner .banner-content .bannerfooter .banner-right .right-icon-1 .right1img:hover,
.main-banner .banner-content .bannerfooter .banner-right .right-icon-2 .right1img:hover,
.main-banner .banner-content .bannerfooter .banner-right .right-icon-3 .right1img:hover {
  border-color: red;
  border-width: 2px;
  border-style: solid;
}

.row1 {
  margin: 20px;
}
.row1 .row1-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}
.row1 .row1-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row1 .row1-cards .card1, .row1 .row1-cards .card2, .row1 .row1-cards .card3, .row1 .row1-cards .card4 {
  position: relative;
}
@media (max-width: 960px) {
  .row1 .row1-cards .card1 img, .row1 .row1-cards .card2 img, .row1 .row1-cards .card3 img, .row1 .row1-cards .card4 img {
    width: 0;
    height: 0;
    border-radius: 0;
  }
}
.row1 .row1-cards .card1 img, .row1 .row1-cards .card2 img, .row1 .row1-cards .card3 img, .row1 .row1-cards .card4 img {
  width: 300px;
  height: 170px;
  border-radius: 25px;
}
.row1 .row1-cards .card1 .footer-1, .row1 .row1-cards .card2 .footer-1, .row1 .row1-cards .card3 .footer-1, .row1 .row1-cards .card4 .footer-1 {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(0, 0, 0);
  align-items: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.row1 .row1-cards .card1 .footer-1 .footer-1-text, .row1 .row1-cards .card2 .footer-1 .footer-1-text, .row1 .row1-cards .card3 .footer-1 .footer-1-text, .row1 .row1-cards .card4 .footer-1 .footer-1-text {
  padding: 0px 20px;
}
.row1 .row1-cards .card1 .footer-1 .footer-1-text .footer-1-title, .row1 .row1-cards .card2 .footer-1 .footer-1-text .footer-1-title, .row1 .row1-cards .card3 .footer-1 .footer-1-text .footer-1-title, .row1 .row1-cards .card4 .footer-1 .footer-1-text .footer-1-title {
  color: white;
  font-style: 20px;
}
.row1 .row1-cards .card1 .footer-1 .footer-1-text .footer-1-desc, .row1 .row1-cards .card2 .footer-1 .footer-1-text .footer-1-desc, .row1 .row1-cards .card3 .footer-1 .footer-1-text .footer-1-desc, .row1 .row1-cards .card4 .footer-1 .footer-1-text .footer-1-desc {
  color: white;
}
.row1 .row1-cards .card1:hover, .row1 .row1-cards .card2:hover, .row1 .row1-cards .card3:hover, .row1 .row1-cards .card4:hover {
  border-color: red;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
}

.row2 {
  margin: 20px;
}
.row2 .row2-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}
.row2 .row2-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row2 .row2-cards .card1, .row2 .row2-cards .card2, .row2 .row2-cards .card3, .row2 .row2-cards .card4 {
  position: relative;
}
.row2 .row2-cards .card1 img, .row2 .row2-cards .card2 img, .row2 .row2-cards .card3 img, .row2 .row2-cards .card4 img {
  width: 300px;
  height: 150px;
  border-radius: 25px;
}
.row2 .row2-cards .card1 .footer-2, .row2 .row2-cards .card2 .footer-2, .row2 .row2-cards .card3 .footer-2, .row2 .row2-cards .card4 .footer-2 {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.row2 .row2-cards .card1 .footer-2 .footer-2-text, .row2 .row2-cards .card2 .footer-2 .footer-2-text, .row2 .row2-cards .card3 .footer-2 .footer-2-text, .row2 .row2-cards .card4 .footer-2 .footer-2-text {
  padding: 0px 20px;
  width: 100%;
}
.row2 .row2-cards .card1 .footer-2 .footer-2-text .footer-2-title, .row2 .row2-cards .card2 .footer-2 .footer-2-text .footer-2-title, .row2 .row2-cards .card3 .footer-2 .footer-2-text .footer-2-title, .row2 .row2-cards .card4 .footer-2 .footer-2-text .footer-2-title {
  color: white;
  font-style: 20px;
}
.row2 .row2-cards .card1 .footer-2 .footer-2-text .footer-2-desc, .row2 .row2-cards .card2 .footer-2 .footer-2-text .footer-2-desc, .row2 .row2-cards .card3 .footer-2 .footer-2-text .footer-2-desc, .row2 .row2-cards .card4 .footer-2 .footer-2-text .footer-2-desc {
  color: white;
  width: 100%;
  border-radius: 5px;
}
.row2 .row2-cards .card1 .footer-2 .footer-2-text .footer-2-desc progress, .row2 .row2-cards .card2 .footer-2 .footer-2-text .footer-2-desc progress, .row2 .row2-cards .card3 .footer-2 .footer-2-text .footer-2-desc progress, .row2 .row2-cards .card4 .footer-2 .footer-2-text .footer-2-desc progress {
  color: red;
  height: 8px;
  width: 100%;
  border-radius: 5px;
}
.row2 .row2-cards .card1:hover, .row2 .row2-cards .card2:hover, .row2 .row2-cards .card3:hover, .row2 .row2-cards .card4:hover {
  border-color: red;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
}

/**
@include xs {

}
@include sm {

}
@include md {

}
@include lg {

}
@include xl {

}
**/
.Sidebar {
  border-width: 2px;
  border-style: outset;
  border-color: gray;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 20px;
}
@media (max-width: 960px) {
  .Sidebar {
    width: 0;
    border-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0;
    z-index: -2;
  }
  .Sidebar .logoimg {
    width: 0;
    height: 0;
  }
  .Sidebar .sidebuttons .browsebutton, .Sidebar .sidebuttons .wishlistbutton, .Sidebar .sidebuttons .comingsoonbutton {
    margin: 0;
  }
  .Sidebar .sidebuttons .browsebutton p, .Sidebar .sidebuttons .wishlistbutton p, .Sidebar .sidebuttons .comingsoonbutton p {
    padding-left: 0;
  }
  .Sidebar .sidebuttons .browsebutton:hover, .Sidebar .sidebuttons .wishlistbutton:hover, .Sidebar .sidebuttons .comingsoonbutton:hover {
    border-width: 0;
    border-radius: 0;
  }
  .Sidebar .trailers {
    font-size: 0;
  }
  .Sidebar .new-cars {
    margin-top: 0;
  }
  .Sidebar .new-cars img {
    width: 0;
    height: 0;
    border-radius: 0;
    z-index: 0;
  }
  .Sidebar .new-cars .sidepanel1, .Sidebar .new-cars .sidepanel2, .Sidebar .new-cars .sidepanel3 {
    margin: 0;
    border-radius: 0;
  }
  .Sidebar .new-cars .sidepanel1 .panelfooter, .Sidebar .new-cars .sidepanel2 .panelfooter, .Sidebar .new-cars .sidepanel3 .panelfooter {
    bottom: 0;
    left: 0;
    width: 0;
    padding: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .Sidebar .new-cars .sidepanel1 .panelfooter .playbutton, .Sidebar .new-cars .sidepanel2 .panelfooter .playbutton, .Sidebar .new-cars .sidepanel3 .panelfooter .playbutton {
    padding: 0;
    border-radius: 0;
  }
  .Sidebar .new-cars .sidepanel1:hover, .Sidebar .new-cars .sidepanel2:hover, .Sidebar .new-cars .sidepanel3:hover {
    border-width: 0;
    border-radius: 0;
  }
}
.Sidebar .logoimg {
  width: 200px;
  height: 150px;
}
.Sidebar .sidebuttons .browsebutton, .Sidebar .sidebuttons .wishlistbutton, .Sidebar .sidebuttons .comingsoonbutton {
  display: flex;
  margin: 25px 5px;
  color: white;
}
.Sidebar .sidebuttons .browsebutton p, .Sidebar .sidebuttons .wishlistbutton p, .Sidebar .sidebuttons .comingsoonbutton p {
  padding-left: 10px;
}
.Sidebar .sidebuttons .browsebutton:hover, .Sidebar .sidebuttons .wishlistbutton:hover, .Sidebar .sidebuttons .comingsoonbutton:hover {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}
.Sidebar .trailers {
  font-size: 24px;
  font-weight: 500;
  color: white;
}
.Sidebar .new-cars {
  margin-top: 0px 20px;
}
.Sidebar .new-cars img {
  width: 250px;
  height: 150px;
  border-radius: 15px;
  z-index: 0;
}
.Sidebar .new-cars .sidepanel1, .Sidebar .new-cars .sidepanel2, .Sidebar .new-cars .sidepanel3 {
  margin: 15px 0px;
  border-radius: 15px;
  position: relative;
}
.Sidebar .new-cars .sidepanel1 .panelfooter, .Sidebar .new-cars .sidepanel2 .panelfooter, .Sidebar .new-cars .sidepanel3 .panelfooter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.Sidebar .new-cars .sidepanel1 .panelfooter .playbutton, .Sidebar .new-cars .sidepanel2 .panelfooter .playbutton, .Sidebar .new-cars .sidepanel3 .panelfooter .playbutton {
  background-color: rgba(75, 75, 75, 0.5);
  padding: 3px;
  border-radius: 15px;
}
.Sidebar .new-cars .sidepanel1:hover, .Sidebar .new-cars .sidepanel2:hover, .Sidebar .new-cars .sidepanel3:hover {
  border-color: red;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
}

/**
@include xs {

}
@include sm {

}
@include md {

}
@include lg {

}
@include xl {

}
**/
.main-content {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  display: flex;
  margin-top: 1%;
}
.main-content .main-page {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
body .alignment {
  display: flex;
  height: 100vh;
  width: 100%;
}
body header .backgroundimg {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: absolute;
}/*# sourceMappingURL=app.css.map */